################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ERM.sln
/ERM.sln
/ERM.sln
